<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.englanguage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".koin.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logoapp"
        android:label="EngLanguage"
        android:roundIcon="@drawable/logoapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.EngLanguage"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".exam.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".exam.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".exam.StartQuizActivity"
            android:exported="false" />
        <activity
            android:name=".SubmitActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExoActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:exported="false" />
        <activity
            android:name=".ExoMenuActivity"
            android:exported="false" />
        <activity
            android:name=".offlinemode.vocabularyoftopicoffline.VocabularyOfTopicOffActivity"
            android:exported="false" />
        <activity
            android:name=".offlinemode.FlipCardOffActivity"
            android:exported="false" />
        <activity
            android:name=".offlinemode.OneVocabularyOffActivity"
            android:exported="false" />
        <activity
            android:name=".FlipCardActivity"
            android:exported="false" />
        <activity
            android:name=".OneVocabularyActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".TextToSpeechActivity"
            android:exported="false" />
        <activity
            android:name=".VocabularyOfTopicActivity"
            android:exported="false" />
        <activity
            android:name=".VocabularyActivity"
            android:exported="false" />
        <activity
            android:name=".TopicActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
    </application>

</manifest>